/*Wróżba Noworoczna Style.css */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 17px;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
}
#Content{
    background-color:#3a70b8ab;
    border:solid 1px #CCCCCC;
    margin-bottom:2px;
}
#LeftColumn{
    float:left;
    width:630px;
    text-align: center;
    background-color:#00ccff00;
}
#RightColumn{
    float:right;
    width:630px;
    text-align: center;
    background-color:#cccccc00;
}
.exClear{
    clear:both;
    line-height:20px;
    padding: 10px;
}
#Footer{
    background-color:#f1f1f136;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ddd;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'consolas';
}
header > h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #ddd;
    text-align: center;
    background-color: rgba(144, 75, 200, 0.63);
    padding: 15px;
    margin-bottom: 40px;
    font-family: 'times-new-roman';
}
input[type="date"] {
    width: 170px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}
select:focus {
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}
select {
    width: 150px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}
input[type=submit] {
    background-color: #48c04e;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}
input[type=submit]:hover {
    background-color: #4b16c7;
}
